{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}

    <div class= "col-md-6 mx-auto">
        <h1>Create new Video</h1>
        <br>
        {{ include('video/_form.html.twig') }}
        <br>
        
        
    </div>
  
{% endblock %}

